# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# for svn
.svn

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log

hs_err_pid*


# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
**/target/


/build/
/bin/
/src/main/webapp/export/
application.pid
**/config/application.properties
